* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.nav {
    padding: 30px 0;
    background-color: rgb(34, 28, 28);
    .nav__input {
        padding: 10px 5px;
    }
    .nav__btn {
        font-size: 15px;
        padding: 5px 3px;
        background-color: rgb(236, 190, 39);
        color: rgb(56, 56, 56);
        border: 1px solid rgb(0, 0, 0);
    }
}

.header {
    background-color: rgb(236, 190, 39);
    padding: 20px;
}

.main {
    background-color: rgb(56, 56, 56);
    img {
        margin: 20px 10px;
    }
}